@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* scrollbar-width: auto; */
  /* scrollbar-color: #ededed #ffffff; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    /* scrollbar-color: hsl(0, 0%, 67%) rgb(18 18 24); */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  :root {
    scrollbar-width: auto;
    scrollbar-color: theme("colors.gray.400") theme("colors.gray.200");
  }

  @media (prefers-color-scheme: dark) {
    :root {
      scrollbar-color: theme("colors.gray.600") theme("colors.gray.800");
    }
  }
}